
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    max-width: 300px;
    animation: slideInAndOut 4.5s forwards;
}

@keyframes slideInAndOut {
    25%{  right: 20px; }
    50% { right: -100%; }
    95% {  right: -100%; }


}